<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>




	<servlet>
		<servlet-name>processorWithFAJ</servlet-name>
		<servlet-class>com.zw.utils.ProcessorWithFAJServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>processorWithFAJ</servlet-name>
		<url-pattern>/processorWithFAJ</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>UploadServletWithForkAndJoin</servlet-name>
		<servlet-class>com.zw.utils.UploadServletWithForkAndJoin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServletWithForkAndJoin</servlet-name>
		<url-pattern>/uploadWithForkAndJoin</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>LoopCountWithFAJServlet</servlet-name>
		<servlet-class>com.zw.LoopCountWithFAJServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>StopServlet</servlet-name>
    <servlet-class>com.zw.StopServlet</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>LoopCountWithFAJServlet</servlet-name>
		<url-pattern>/LoopCountWithFAJServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>StopServlet</servlet-name>
    <url-pattern>/StopServlet</url-pattern>
  </servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>300</session-timeout>
	</session-config>
</web-app>
